name: Trivy Check CI
on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 3 1,15 * *'

permissions:
  security-events: write
  actions: read
  contents: read

jobs:
  trivy-check:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: linux-utils
          - image: alpine-sh
          - image: alpine-bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: v0.13.1

      - name: Build Image
        uses: docker/build-push-action@v5
        with:
          file: ./dockerfiles/${{ matrix.image }}/Dockerfile
          push: false
          load: true
          platforms: linux/amd64
          tags: |
            openebs/${{ matrix.image }}:ci

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: 'openebs/${{ matrix.image }}:ci'
          format: 'sarif'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          output: trivy-image.sarif

      - name: Upload Helm SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trivy-image.sarif
          category: trivy-${{ matrix.image }}
